automation/n8n/workflows/Cyber Feed v2.json
{
  "name": "Cyber Feed v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "2ba0224e-7c0d-4cda-a39e-eeb28c13f30e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {}
      },
      "id": "bb9a88c6-75a1-4197-b343-ee94f19a9863",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        64,
        0
      ]
    },
    {
      "parameters": {
        "maxItems": 8
      },
      "id": "c28639dc-9a74-497a-88d6-55f5768b888d",
      "name": "Limit Latest Items",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!Array.isArray(items) || items.length === 0) return [];\n\nconst cleanText = (v) => String(v || '').replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst lower = (v) => cleanText(v).toLowerCase();\nconst has = (text, marker) => lower(text).includes(String(marker || '').toLowerCase());\nconst securityMarkers = [\n  'cve-', 'vulnerability', 'flaw', 'rce', 'remote code execution', 'actively exploited',\n  'active exploitation', 'zero-day', 'zero day', 'ransomware', 'malware', 'phishing',\n  'backdoor', 'botnet', 'data breach', 'breach', 'security update', 'patch', 'exploit',\n  'critical', 'authentication bypass', 'privilege escalation', 'supply chain', 'infostealer',\n  'ci/cd', 'secrets', 'firewall', 'attacker', 'attack'\n];\n\nconst buildTags = (text) => {\n  const low = lower(text);\n  const tags = [];\n  const add = (t) => { if (!tags.includes(t) && tags.length < 5) tags.push(t); };\n  if (low.includes('cve-')) add('cve');\n  if (low.includes('rce') || low.includes('remote code execution')) add('rce');\n  if (low.includes('critical')) add('critical');\n  if (low.includes('actively exploited') || low.includes('active exploitation')) add('exploited');\n  if (low.includes('vulnerability') || low.includes('flaw')) add('vuln');\n  if (low.includes('malware')) add('malware');\n  if (low.includes('ransomware')) add('ransomware');\n  if (low.includes('phishing')) add('phishing');\n  if (low.includes('breach')) add('breach');\n  if (low.includes('supply chain')) add('supply-chain');\n  if (low.includes('infostealer')) add('infostealer');\n  return tags;\n};\n\nconst pickImportance = (text) => {\n  const low = lower(text);\n  if (low.includes('cve-') && (low.includes('critical') || low.includes('actively exploited'))) return 10;\n  if (low.includes('known exploited') || low.includes('actively exploited') || low.includes('zero-day') || low.includes('zero day')) return 9;\n  if (low.includes('remote code execution') || low.includes('rce') || low.includes('ransomware') || low.includes('data breach')) return 9;\n  if (low.includes('critical') || low.includes('authentication bypass') || low.includes('privilege escalation')) return 8;\n  if (low.includes('patch') || low.includes('vulnerability') || low.includes('malware') || low.includes('phishing') || low.includes('supply chain') || low.includes('infostealer')) return 7;\n  return 6;\n};\n\nconst sourceForLink = (link) => {\n  const low = lower(link);\n  if (low.includes('bleepingcomputer.com')) return 'bleeping_computer';\n  if (low.includes('darkreading.com')) return 'dark_reading';\n  return 'the_hacker_news';\n};\n\nreturn items\n  .map((item) => {\n    const row = item.json || {};\n    const title = cleanText(row.title);\n    const snippet = cleanText(row.contentSnippet || row.content || row.summary || '');\n    const fullText = `${title} ${snippet}`.trim();\n    const source = sourceForLink(row.link || '');\n    const importance = pickImportance(fullText);\n    const tags = buildTags(fullText);\n    const securitySignal = securityMarkers.some((marker) => has(fullText, marker));\n    return {\n      json: {\n        source,\n        source_url: row.link || (source === 'dark_reading' ? 'https://www.darkreading.com/' : source === 'bleeping_computer' ? 'https://www.bleepingcomputer.com/' : 'https://thehackernews.com/'),\n        source_type: 'rss',\n        type: 'intel',\n        title,\n        summary: snippet.slice(0, 500),\n        category: 'security',\n        importance,\n        tags,\n        why_it_matters: 'Bu gelisme kisa vadede siber risk gorunumunu etkileyebilir.',\n        immediate_impact: 'Etkilenen urun, aktif somuru sinyali ve yama gereksinimi izlenmeli.',\n        possible_outcomes: ['Aktif somuru yayilirsa etki alani buyuyebilir', 'Yama uygulanirsa risk azalir'],\n        confidence_hint: source === 'dark_reading' ? 0.8 : source === 'bleeping_computer' ? 0.78 : 0.82,\n        source_quality: source === 'the_hacker_news' ? 'high' : 'medium_high',\n        region: 'Global',\n        market_relevance: 'medium',\n        timestamp: row.isoDate || new Date().toISOString(),\n        security_signal: securitySignal,\n      }\n    };\n  })\n  .filter((item) => item.json.title && item.json.summary && item.json.summary.length >= 40)\n  .filter((item) => item.json.security_signal || item.json.tags.length >= 2 || item.json.importance >= 7)\n  .map((item) => {\n    delete item.json.security_signal;\n    return item;\n  });"
      },
      "id": "46109bdb-7ee5-413b-a41e-cd5403e713f8",
      "name": "Build Cyber Intel Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nconst title = String(item.title || '').toLowerCase();\nconst summary = String(item.summary || '').toLowerCase();\nlet intelScore = Number(item.importance || 5);\nif (title.includes('critical')) intelScore += 1;\nif (title.includes('cve-')) intelScore += 1;\nif (summary.includes('remote code execution') || summary.includes('rce')) intelScore += 2;\nif (summary.includes('active exploitation') || summary.includes('actively exploited') || summary.includes('known exploited')) intelScore += 2;\nif (summary.includes('zero-day') || summary.includes('zero day')) intelScore += 2;\nif (summary.includes('ransomware') || summary.includes('data breach')) intelScore += 1;\nif (summary.includes('missing authentication') || summary.includes('authentication bypass')) intelScore += 1;\nintelScore = Math.min(intelScore, 10);\nconst shouldAlert = intelScore >= 7;\nreturn { json: { ...item, intel_score: intelScore, should_alert: shouldAlert } };"
      },
      "id": "2f286c1c-95cf-412a-abe9-4f2077efcf68",
      "name": "Score & Intelligence Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{($json.title || '').trim().length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "leftValue": "={{($json.summary || '').trim().length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3ea7c6ad-e173-4285-896e-b48a58ed4adb",
      "name": "Payload Valid mi",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{$json.intel_score}}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f51b592b-c771-4580-a4d7-383f1a634453",
      "name": "Onem Esigi",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "source",
              "value": "={{$json.source}}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "source_url",
              "value": "={{$json.source_url}}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "source_type",
              "value": "={{$json.source_type}}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "type",
              "value": "={{$json.type}}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "title",
              "value": "={{$json.title}}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "summary",
              "value": "={{$json.summary}}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "category",
              "value": "={{$json.category}}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "importance",
              "value": "={{$json.importance}}",
              "type": "number"
            },
            {
              "id": "9",
              "name": "tags",
              "value": "={{$json.tags}}",
              "type": "array"
            },
            {
              "id": "10",
              "name": "why_it_matters",
              "value": "={{$json.why_it_matters}}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "immediate_impact",
              "value": "={{$json.immediate_impact}}",
              "type": "string"
            },
            {
              "id": "12",
              "name": "possible_outcomes",
              "value": "={{$json.possible_outcomes}}",
              "type": "array"
            },
            {
              "id": "13",
              "name": "timestamp",
              "value": "={{$json.timestamp}}",
              "type": "string"
            },
            {
              "id": "14",
              "name": "intel_score",
              "value": "={{$json.intel_score}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "c7c4c87d-5d9d-4abf-b45c-3ecf9e08934d",
      "name": "Clean Intel Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        -368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://165.232.116.244:8000/events/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ayex-ingest-token",
              "value": "REPLACE_WITH_INGEST_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  type: $json.type || 'intel',\n  source: $json.source || 'n8n',\n  payload: {\n    title: $json.title,\n    summary: $json.summary,\n    category: $json.category,\n    importance: $json.importance,\n    tags: $json.tags,\n    timestamp: $json.timestamp || new Date().toISOString()\n  }\n}) }}\n",
        "options": {},
        "bodyContentType": "json",
        "authentication": "none"
      },
      "id": "0c14c569-82dd-4d3f-a0e3-380eb2ffd00f",
      "name": "Send Event to AYEX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1392,
        -368
      ]
    },
    {
      "parameters": {
        "url": "https://www.darkreading.com/rss.xml",
        "options": {}
      },
      "id": "cyber-rss-darkreading",
      "name": "RSS Read Dark Reading",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        64,
        -208
      ]
    },
    {
      "parameters": {
        "maxItems": 8
      },
      "id": "cyber-limit-darkreading",
      "name": "Limit Dark Reading Items",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        224,
        -208
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "cyber-merge",
      "name": "Combine Cyber Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        -96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read Dark Reading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit Latest Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read Dark Reading": {
      "main": [
        [
          {
            "node": "Limit Dark Reading Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Latest Items": {
      "main": [
        [
          {
            "node": "Combine Cyber Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Dark Reading Items": {
      "main": [
        [
          {
            "node": "Combine Cyber Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Cyber Feeds": {
      "main": [
        [
          {
            "node": "Build Cyber Intel Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cyber Intel Event": {
      "main": [
        [
          {
            "node": "Score & Intelligence Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score & Intelligence Engine": {
      "main": [
        [
          {
            "node": "Payload Valid mi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valid mi": {
      "main": [
        [],
        [
          {
            "node": "Onem Esigi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onem Esigi": {
      "main": [
        [
          {
            "node": "Clean Intel Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Intel Payload": {
      "main": [
        [
          {
            "node": "Send Event to AYEX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "01b69166-a02c-435f-a920-cc66bd517df6",
  "meta": {
    "instanceId": "f9f7d571ab149b9c5f39182c051ae2dcaac33d914a5669120df9a874e1db615d"
  },
  "id": "kQ24NmfFEm84rpcb",
  "tags": []
}