automation/n8n/workflows/Macro Economy Feed v2.json
{
  "name": "Macro Economy Feed v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "macro-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://stooq.com/q/d/l/?s=xauusd&i=d",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "macro-gold",
      "name": "Get Gold Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        -256
      ]
    },
    {
      "parameters": {
        "url": "https://open.er-api.com/v6/latest/USD",
        "options": {}
      },
      "id": "macro-forex",
      "name": "Get USD/TRY Rate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const forexData = $('Get USD/TRY Rate').first().json || {};\nconst goldData = $('Get Gold Price').first().json || {};\nconst brentData = $('Get Brent Price').first().json || {};\nconst us10yData = $('Get US 10Y Price').first().json || {};\n\nfunction num(v, fallback = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction parseGoldUsd(payload) {\n  const direct = [\n    payload?.gold,\n    payload?.price,\n    payload?.close,\n    payload?.Close,\n    payload?.last,\n  ];\n  for (const value of direct) {\n    const parsed = num(value);\n    if (parsed > 0) return parsed;\n  }\n  const blob = [\n    typeof payload?.body === 'string' ? payload.body : '',\n    typeof payload?.data === 'string' ? payload.data : '',\n    typeof payload?.raw === 'string' ? payload.raw : '',\n  ].filter(Boolean).join('\\n');\n  if (!blob) return 0;\n  const lines = blob.split(/\\r?\\n/).map((line) => line.trim()).filter(Boolean);\n  for (let i = lines.length - 1; i >= 0; i -= 1) {\n    const parts = lines[i].split(',');\n    if (parts.length < 5) continue;\n    const close = num(parts[4]);\n    if (close > 0) return close;\n  }\n  return 0;\n}\n\nfunction parseYahooChartClose(payload) {\n  const result = payload?.chart?.result?.[0];\n  const meta = result?.meta || {};\n  const closes = result?.indicators?.quote?.[0]?.close || [];\n  const valid = closes.filter((v) => Number.isFinite(Number(v))).map((v) => Number(v));\n  const last = valid.length ? valid[valid.length - 1] : num(meta.regularMarketPrice);\n  const prev = valid.length > 1 ? valid[valid.length - 2] : num(meta.chartPreviousClose || last);\n  return {\n    price: num(last),\n    previous: num(prev || last),\n  };\n}\n\nconst tryRate = num(forexData.rates?.TRY);\nconst eurRate = num(forexData.rates?.EUR);\nconst gbpRate = num(forexData.rates?.GBP);\nconst jpyRate = num(forexData.rates?.JPY);\nconst goldUsd = parseGoldUsd(goldData);\nconst brent = parseYahooChartClose(brentData);\n\nif (tryRate === 0) return [];\n\nconst eurTry = eurRate ? tryRate / eurRate : 0;\nconst gbpTry = gbpRate ? tryRate / gbpRate : 0;\nconst jpyTry = jpyRate ? tryRate / jpyRate : 0;\nconst eurUsd = eurRate ? (1 / eurRate) : 0;\nconst gbpUsd = gbpRate ? (1 / gbpRate) : 0;\nconst goldTry = goldUsd ? goldUsd * tryRate : 0;\nconst brentUsd = brent.price;\nconst brentChange = brentUsd && brent.previous ? ((brentUsd - brent.previous) / brent.previous) * 100 : 0;\nconst us10yRaw = parseYahooChartClose(us10yData).price;\nconst us10y = us10yRaw > 20 ? us10yRaw / 10 : us10yRaw;\nconst fxStress = tryRate > 41 || eurTry > 46 || gbpTry > 53;\nconst safeHaven = goldUsd > 4300 || goldTry > 180000;\nconst importPressure = tryRate > 38 || eurTry > 43;\nconst energyStress = brentUsd > 95 || brentChange > 4;\nconst rateStress = us10y >= 4.5;\nconst rateTight = us10y >= 4.2;\nconst riskMode = fxStress && safeHaven ? 'savunmaci'\n  : fxStress ? 'kur baskisi'\n  : safeHaven ? 'guvenli liman'\n  : energyStress && rateStress ? 'enerji-ve-faiz-baskisi'\n  : energyStress ? 'enerji-baskisi'\n  : rateStress ? 'faiz-baskisi'\n  : 'dengeli';\n\nconst title = `Makro Ozet: USD/TRY ${tryRate.toFixed(2)} | EUR/TRY ${eurTry ? eurTry.toFixed(2) : 'N/A'} | GBP/TRY ${gbpTry ? gbpTry.toFixed(2) : 'N/A'}`;\nconst summary =\n  `USD/TRY ${tryRate.toFixed(2)} seviyesinde. ` +\n  `EUR/TRY ${eurTry ? eurTry.toFixed(2) : 'N/A'}, GBP/TRY ${gbpTry ? gbpTry.toFixed(2) : 'N/A'}, JPY/TRY ${jpyTry ? jpyTry.toFixed(4) : 'N/A'}. ` +\n  `EUR/USD ${eurUsd ? eurUsd.toFixed(4) : 'N/A'}, GBP/USD ${gbpUsd ? gbpUsd.toFixed(4) : 'N/A'}. ` +\n  `XAU/USD ${goldUsd ? goldUsd.toFixed(2) : 'N/A'}, ons altin TRY karsiligi ${goldTry ? goldTry.toFixed(0) : 'N/A'}. ` +\n  `Brent ${brentUsd ? brentUsd.toFixed(2) : 'N/A'} USD (${brentChange >= 0 ? '+' : ''}${brentChange.toFixed(2)}%). ` +\n  `US 10Y ${us10y ? us10y.toFixed(2) : 'N/A'}%. ` +\n  `Risk modu su an ${riskMode}. Kur tarafi Turkiye odakli fiyatlama, ithalat maliyeti, enerji maliyeti, global faiz baskisi ve enflasyon beklentileri icin izlenmeli.`;\n\nlet importance = 6;\nif (tryRate > 35 || eurTry > 38) importance = 7;\nif (tryRate > 38 || eurTry > 41) importance = 8;\nif (tryRate > 41 || eurTry > 44) importance = 9;\nif (goldTry > 130000) importance = Math.max(importance, 7);\nif (goldTry > 145000) importance = Math.max(importance, 8);\nif (energyStress) importance = Math.max(importance, 8);\nif (rateTight) importance = Math.max(importance, 7);\nif (rateStress) importance = Math.max(importance, 8);\nif (fxStress && safeHaven) importance = Math.max(importance, 9);\nif (energyStress && rateStress) importance = Math.max(importance, 9);\nif (importPressure) importance = Math.max(importance, 8);\n\nreturn [{\n  json: {\n    source: 'er_api',\n    source_url: 'https://open.er-api.com/v6/latest/USD',\n    source_type: 'market_api',\n    type: 'intel',\n    title,\n    summary,\n    category: 'economy',\n    importance,\n    tags: ['makro', 'usdtry', 'eurtry', 'gbptry', 'xauusd', 'brent', 'us10y', riskMode, importPressure ? 'ithalat-baskisi' : 'denge'],\n    why_it_matters: 'Kur sepeti, dolar paritesi, ons altin, Brent ve ABD 10 yillik faiz birlikte bakildiginda enflasyon baskisi, enerji maliyeti, finansal kosullar ve riskten kacis daha net okunur.',\n    immediate_impact: `USD/TRY ${tryRate.toFixed(2)} | EUR/TRY ${eurTry ? eurTry.toFixed(2) : 'N/A'} | XAU/USD ${goldUsd ? goldUsd.toFixed(2) : 'N/A'} | Brent ${brentUsd ? brentUsd.toFixed(2) : 'N/A'} | US10Y ${us10y ? us10y.toFixed(2) : 'N/A'} | mod ${riskMode}`,\n    possible_outcomes: [\n      'Kur sepeti, altin, Brent ve faiz birlikte yukselirse savunmaci fiyatlama ve maliyet baskisi guclenebilir',\n      'Kur sakinlesip altin, Brent ve faiz gevserse kisa vadeli risk algisi yumusayabilir'\n    ],\n    confidence_hint: 0.9,\n    source_quality: 'high',\n    region: 'Turkey/Global',\n    market_relevance: 'high',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "macro-build",
      "name": "Build Macro Intel Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{($json.title || '').trim().length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "leftValue": "={{($json.summary || '').trim().length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "macro-valid",
      "name": "Payload Valid mi",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "source",
              "value": "={{$json.source}}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "source_url",
              "value": "={{$json.source_url}}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "source_type",
              "value": "={{$json.source_type}}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "type",
              "value": "={{$json.type}}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "title",
              "value": "={{$json.title}}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "summary",
              "value": "={{$json.summary}}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "category",
              "value": "={{$json.category}}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "importance",
              "value": "={{$json.importance}}",
              "type": "number"
            },
            {
              "id": "9",
              "name": "tags",
              "value": "={{$json.tags}}",
              "type": "array"
            },
            {
              "id": "10",
              "name": "why_it_matters",
              "value": "={{$json.why_it_matters}}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "immediate_impact",
              "value": "={{$json.immediate_impact}}",
              "type": "string"
            },
            {
              "id": "12",
              "name": "possible_outcomes",
              "value": "={{$json.possible_outcomes}}",
              "type": "array"
            },
            {
              "id": "13",
              "name": "timestamp",
              "value": "={{$json.timestamp}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "macro-clean",
      "name": "Clean Intel Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://165.232.116.244:8000/events/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ayex-ingest-token",
              "value": "REPLACE_WITH_INGEST_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  type: $json.type || 'intel',\n  source: $json.source || 'n8n',\n  payload: {\n    title: $json.title,\n    summary: $json.summary,\n    category: $json.category,\n    importance: $json.importance,\n    tags: $json.tags,\n    timestamp: $json.timestamp || new Date().toISOString()\n  }\n}) }}\n",
        "options": {},
        "bodyContentType": "json",
        "authentication": "none"
      },
      "id": "macro-send",
      "name": "Send Event to AYEX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        -96
      ]
    },
    {
      "parameters": {
        "url": "https://query1.finance.yahoo.com/v8/finance/chart/BZ=F?interval=1d&range=5d",
        "options": {
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "macro-brent",
      "name": "Get Brent Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        -96
      ]
    },
    {
      "parameters": {
        "url": "https://query1.finance.yahoo.com/v8/finance/chart/%5ETNX?interval=1d&range=5d",
        "options": {
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "macro-us10y",
      "name": "Get US 10Y Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get USD/TRY Rate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Gold Price",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Brent Price",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get US 10Y Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Gold Price": {
      "main": [
        []
      ]
    },
    "Get USD/TRY Rate": {
      "main": [
        [
          {
            "node": "Build Macro Intel Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Macro Intel Event": {
      "main": [
        [
          {
            "node": "Payload Valid mi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valid mi": {
      "main": [
        [],
        [
          {
            "node": "Clean Intel Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Intel Payload": {
      "main": [
        [
          {
            "node": "Send Event to AYEX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7118de09-7300-495b-9d57-d430f69f7139",
  "meta": {
    "instanceId": "f9f7d571ab149b9c5f39182c051ae2dcaac33d914a5669120df9a874e1db615d"
  },
  "id": "05t0tn443CpFSvfj",
  "tags": []
}